[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/bundle/LaTeX-Box"]
	path = vim/bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "vim/bundle/ScrollColors"]
	path = vim/bundle/ScrollColors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "vim/bundle/transvim.vim"]
	path = vim/bundle/transvim.vim
	url = https://github.com/vim-scripts/transvim.vim.git
[submodule "vim-latex"]
	path = vim/bundle/vim-latex
	url = https://github.com/lervag/vim-latex.git 
[submodule "vim/bundle/vim-latex"]
	path = vim/bundle/vim-latex
	url = git@github.com:lervag/vim-latex.git
